################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
/bin/Release/com.xamarin.example.BitChuteDebuggr.apk.mSYM
/bin/Release/System.Xml.pdb
/bin/Release/System.ServiceModel.Internals.pdb
/bin/Release/System.Runtime.Serialization.pdb
/bin/Release/System.pdb
/bin/Release/System.Net.Http.pdb
/bin/Release/System.Core.pdb
/bin/Release/mscorlib.pdb
/bin/Release/Mono.Security.pdb
/bin/Release/Mono.Android.pdb
/bin/Release/BottomNavigationViewPager.pdb
/bin/Release/BottomNavigationViewPager.dll.mdb
/bin/Release/BottomNavigationViewPager.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e43671244a0d4d9cba37e6e8486d3e59/System.Core.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e43671244a0d4d9cba37e6e8486d3e59/System.Core.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e43671244a0d4d9cba37e6e8486d3e59
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e25ce1eba23640fd92669def80655de8/System.Net.Http.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e25ce1eba23640fd92669def80655de8/System.Net.Http.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/e25ce1eba23640fd92669def80655de8
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/df0bd04b6bfd4ae08d7d14298df45df5/BottomNavigationViewPager.dll.mdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/df0bd04b6bfd4ae08d7d14298df45df5/BottomNavigationViewPager.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/df0bd04b6bfd4ae08d7d14298df45df5
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/9742abb9a39d461c96daf2627eccb159/System.Xml.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/9742abb9a39d461c96daf2627eccb159/System.Xml.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/9742abb9a39d461c96daf2627eccb159
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/871a88d1d07047d3a4ba856504d61d92/System.Numerics.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/871a88d1d07047d3a4ba856504d61d92/System.Numerics.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/871a88d1d07047d3a4ba856504d61d92
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/751ad98f0cb14edb9d94802f2348dbd1/System.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/751ad98f0cb14edb9d94802f2348dbd1/System.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/751ad98f0cb14edb9d94802f2348dbd1
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/71dce1544d324613b4edaf2c95ac85ee/System.Data.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/71dce1544d324613b4edaf2c95ac85ee/System.Data.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/71dce1544d324613b4edaf2c95ac85ee
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/6ac80fdf9f444e38ab2d42a7e76a5184/mscorlib.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/6ac80fdf9f444e38ab2d42a7e76a5184/mscorlib.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/6ac80fdf9f444e38ab2d42a7e76a5184
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/5fdee02247b248edbe2c2bfa7314632a/Mono.Android.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/5fdee02247b248edbe2c2bfa7314632a/Mono.Android.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/5fdee02247b248edbe2c2bfa7314632a
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/3bbf34e8d693495c8e23ae12e9998fd2/Mono.Security.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/3bbf34e8d693495c8e23ae12e9998fd2/Mono.Security.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/3bbf34e8d693495c8e23ae12e9998fd2
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1ebfc9f4e40741b383fa9b834d4ebfce/System.Xml.Linq.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1ebfc9f4e40741b383fa9b834d4ebfce/System.Xml.Linq.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1ebfc9f4e40741b383fa9b834d4ebfce
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1698f60c8a824903b5db1a4773750dc6/Mono.Android.Export.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1698f60c8a824903b5db1a4773750dc6/Mono.Android.Export.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/1698f60c8a824903b5db1a4773750dc6
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/05a3b1976cf64c58a1e07e0b00ff8bbf/System.Runtime.Serialization.pdb
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/05a3b1976cf64c58a1e07e0b00ff8bbf/System.Runtime.Serialization.dll
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM/05a3b1976cf64c58a1e07e0b00ff8bbf
/bin/Release/com.xamarin.example.BitChuteWTFcc.apk.mSYM
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/manifest.xml
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/e0e89489215244a49619040afd0710be/BottomNavigationViewPager.dll.mdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/e0e89489215244a49619040afd0710be/BottomNavigationViewPager.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/e0e89489215244a49619040afd0710be
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/a07630a315674263a7a46a55887af28e/System.Data.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/a07630a315674263a7a46a55887af28e/System.Data.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/a07630a315674263a7a46a55887af28e
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/90fe7be669284c01906cf9d6d5ced6ba/Mono.Security.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/90fe7be669284c01906cf9d6d5ced6ba/Mono.Security.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/90fe7be669284c01906cf9d6d5ced6ba
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/8e5d2ecfa88e47bab363a225b0272dcf/mscorlib.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/8e5d2ecfa88e47bab363a225b0272dcf/mscorlib.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/8e5d2ecfa88e47bab363a225b0272dcf
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/7c4d67f9118a4ea8be9b592a483ba774/System.Xml.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/7c4d67f9118a4ea8be9b592a483ba774/System.Xml.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/7c4d67f9118a4ea8be9b592a483ba774
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/77e7b48a07b64759b2f2685c09210ebd/System.Net.Http.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/77e7b48a07b64759b2f2685c09210ebd/System.Net.Http.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/77e7b48a07b64759b2f2685c09210ebd
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5cccfd9437f241a1a9f9a3fc327180ba/System.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5cccfd9437f241a1a9f9a3fc327180ba/System.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5cccfd9437f241a1a9f9a3fc327180ba
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5c604f01ce2c4301968da52ca8b9773f/System.Runtime.Serialization.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5c604f01ce2c4301968da52ca8b9773f/System.Runtime.Serialization.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5c604f01ce2c4301968da52ca8b9773f
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5804d482596740bd8900693e935d6ac5/System.Xml.Linq.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5804d482596740bd8900693e935d6ac5/System.Xml.Linq.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/5804d482596740bd8900693e935d6ac5
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/21e3c41e919f44bb983c2b503de4aa75/System.Numerics.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/21e3c41e919f44bb983c2b503de4aa75/System.Numerics.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/21e3c41e919f44bb983c2b503de4aa75
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/213d744139374ce5a719f72cff909cfc/Mono.Android.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/213d744139374ce5a719f72cff909cfc/Mono.Android.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/213d744139374ce5a719f72cff909cfc
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/1698f60c8a824903b5db1a4773750dc6/Mono.Android.Export.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/1698f60c8a824903b5db1a4773750dc6/Mono.Android.Export.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/1698f60c8a824903b5db1a4773750dc6
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/14860d57e66a41f98f0d10d44552dfed/System.Core.pdb
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/14860d57e66a41f98f0d10d44552dfed/System.Core.dll
/bin/Release/com.xamarin.example.BitChute.apk.mSYM/14860d57e66a41f98f0d10d44552dfed
